# --- Project Specific ---
assets/cache/
assets/music/*.mp3
assets/music/youtube/*.mp3
assets/music/spotify/*.mp3
*.log
crash_log.txt
generate_sfx.py
.env
.env.*
.python-version

# --- Build / Packaging ---
build/
dist/
build_tools/windows/Output/
*.spec
*.manifest

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.egg-info/
.eggs/
*.egg
MANIFEST
pip-log.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml

# --- IDEs / Editors ---
.vscode/
.idea/
*.suo
*.sln
*.sw?
.spyderproject
.spyproject
.ropeproject

# --- OS / Miscellaneous ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- Environments ---
venv/
.venv/
env/
ENV/
venv.bak/
env.bak/

# --- Other ---
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
ipython_config.py
__pypackages__/
celerybeat-schedule
celerybeat.pid
*.sage.py
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
assets/music/youtube/Moskwa.mp4
